
@using FoxyAsians.Controllers
@{
    ViewBag.Title = "AlbumDetailedSearch";
}

<h2>AlbumDetailedSearch</h2>

@using (Html.BeginForm("AlbumSearchResults", "Search", FormMethod.Get))
{
    //Code for form controls
    <p class="form-group">
        Album Title: @Html.TextBox("AlbumSearch", null, new { @class = "form-control" }) <br />

        <br />
        <div class="form-group">
            Order by:<br />
            <label class="radio">@Html.RadioButton("TitleOrder", SortOrder.Ascending, true)Ascending</label>
            <label class="radio">@Html.RadioButton("TitleOrder", SortOrder.Descending)Descending</label>
        </div>

        Artist: @Html.TextBox("SearchArtist", null, new { @class = "form-control" }) <br />

        <br />
        <div class="form-group">
            Order by:<br />
            <label class="radio">@Html.RadioButton("ArtistOrder", SortOrder.Ascending, true)Ascending</label>
            <label class="radio">@Html.RadioButton("ArtistOrder", SortOrder.Descending)Descending</label>
        </div>


        @Html.ListBox("SelectedGenre", (MultiSelectList)ViewBag.AllGenres, new { @class = "form-control" })
        <br />

        <div class="form-group">
            Rating: @Html.TextBox("SearchRating", null, new { @class = "form-control" }) <br />
            <label class="radio">@Html.RadioButton("SelectedRatingOrder", SortOrder.Ascending, true)Ascending</label>
            <label class="radio">@Html.RadioButton("SelectedRatingOrder", SortOrder.Descending)Descending</label>
        </div>
        <br />

        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}